@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobile-nav {
  top: 60px;
  left: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
}

.mobile-nav.active {
  height: calc(100vh - 60px);
  padding: 16px;
  opacity: 1;
  visibility: visible;
}

.sidebar {
  min-width: 300px;
}

.vendor-not-auth-img {
  width: 100%;
  height: 300px;
}

.vendor-not-auth-content {
  max-width: 320px;
}

.vendor-not-auth-title {
  font-size: 42px;
  line-height: 50px;
}

.vendor-not-auth-text {
  letter-spacing: 1px;
}

.customModal {
  padding: 0;
  border-radius: 3px;
}

@media screen and (min-width: 1024px) {
  .dashboard {
    min-height: calc(100vh - 60px);
  }

  .vendor-not-auth {
    width: calc(100% - 300px);
  }

  .vendor-not-auth-img {
    width: 500px;
    height: 300px;
  }

  .vendor-not-auth-title span, .vendor-not-auth-text span {
    display: block;
  }

  .vendor-not-auth-content {
    min-width: 360px;
  }

  .admin-filter-box, .buyer-filter-box  {
    min-width: 250px;
  }

  .buyer-container {
    width: calc(100% - 250px);
  }
}